html {
  color-scheme: dark;
  font-family: 'Roboto', sans-serif;
  --max-content-width: 768px;
  --max-form-width: 450px;
  --border-width: 1px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

header {
  border-bottom: var(--border-width) solid;
}

nav {
  padding: 8px;
  display: flex;
  align-items: flex-end;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

header>nav>:first-child {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: unset;
}

nav>a>img {
  padding: 8px;
  padding-left: 0;
}

nav>a>h1 {
  margin: 0;
  padding-right: 8px;
}

nav>ul>li {
  all: unset;
}

nav>ul>li>a {
  margin-right: 8px;
  margin-bottom: 8px;
  white-space: nowrap;
}

footer {
  padding: 16px;
  border-top: var(--border-width) solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
  padding: 0;
  font-weight: 600;
  line-height: 1;
}

p {
  margin: 0;
  margin: 16px 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

article {
  border: var(--border-width) solid;
  border-radius: 4px;
  margin: 8px;
  padding: 16px;
}

a,
p,
ul,
ol,
table,
textarea,
select,
option {
  font-size: 1.15rem;
}

textarea,
select,
input {
  padding: 8px;
  font-size: 1rem;
  margin-top: 8px;
  border: var(--border-width) solid;
  border-radius: 4px;
}

input[type="color"] {
  height: 50px;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  font-size: 1rem;
}

form {
  padding: 16px;
  border: var(--border-width) solid;
  border-radius: 4px;
  max-width: var(--max-form-width);
  margin: 8px 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border: none;
}

fieldset label {
  display: block;
}

fieldset input {
  margin: 4px;
}

button {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

table {
  margin: 16px 0;
}

table,
th,
td {
  border: var(--border-width) solid;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

table>caption {
  caption-side: bottom;
  padding: 4px;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 8px 0;
}